body{
    font-family: 'Monda', sans-serif;
    color: black;
    background-color: rgb(247, 247, 247);


}
/*header*/
.topnav {
    background-color: rgb(247, 247, 247);
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #131313;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 110%;
    border-radius: 7px;
  }
  
  #NavB:hover {
    background-color: #ddd;
    color: rgb(117, 117, 117);
  }
  
  .topnav a.active {
    background-color: #696969;
    color: white;
  }
  
 
  .topnav .icon {
    display: none;
  }

  #NavButtons{
    margin-top: 1%;
    float: right;
    margin-right: 2%;
  }
/*main*/

.swords-photos h2{
    font-size: 40px;
    margin-top: 3%;
}



.swords-photos ul{
    margin-top: 3%;
    
 }
 .swords-photos ul li{
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 3% 50px;

    
 }

 #info{
    font-size:20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    margin-top:3%;
 }








/*Footer*/

.botnav {
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    height: 100%;
    width: 100%;

  }
  
  .botnav a {
    float: left;
    display: block;
    color: #131313;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 7px;
  }
  
  #NavB:hover {
    background-color: #ddd;
    color: rgb(117, 117, 117);
  }
  
  .botnav a.active {
    background-color: #696969;
    color: white;
  }
  
 
  .botnav .icon {
    display: none;
  }

  #BotNavButtons{
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
    margin-right: 2%;
  }

  footer {
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    margin: 0;
  }
  


  