body{
    font-family: 'Monda', sans-serif; 
    color: black;
    background-color: rgb(247, 247, 247);


}
/*header*/
.topnav {
    background-color: rgb(247, 247, 247);
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #131313;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 110%;
    border-radius: 7px;
  }
  
  #NavB:hover {
    background-color: #ddd;
    color: rgb(117, 117, 117);
  }
  
  .topnav a.active {
    background-color: #696969;
    color: white;
  }
  
 
  .topnav .icon {
    display: none;
  }

  #NavButtons{
    margin-top: 1%;
    float: right;
    margin-right: 2%;
  }
/*Main*/
.text-box{
    max-width: 600px;
}

.text-box h1{
    font-size: 55px;
    margin-bottom:20px;
    color:#292929
}

.container {
    display: flex;
    flex-direction: row-reverse; /* За да обърнете реда на елементите */
    align-items: center; /* За да центрирате вертикално картинката */
  }
  
  h1 {
    flex: 1;
    margin-left: 2%; /* За да оставите малко място между заглавието и картинката */
    font-size: 50px;
  }
  
  .image {
    max-width: 40%;
    height: auto; /* За да запазите пропорциите на картинката */
    margin-right: 0%; /* За да оставите малко място между картинката и заглавието */
  }
  





  /*Most popular*/

.most-popular{
    margin-top: 3%;
}
.most-popular h2{
    text-align: center;
    font-size: 30px;
}
 .most-popular ul li{
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 3% 3%;
 }

 .most-popular ul li img{
    border-radius: 20px
 }

 #MPItems{
  text-decoration: none;
  color:black;
  transition: 0.2s;
 }

 #MPPhotos{
  transition: 0.2s;
 }

 #MPPhotos:hover{
  height: 380px;
  transition: 0.2s;
 }

 /*Photogallery*/

.photobox {
    margin-top: 3%;
}

.photobox h2{
    text-align: center;
    font-size: 30px;
}

.photobox img{
    margin-top: 2%;
    margin-bottom: 3%;
}




/*Footer*/

.botnav {
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    height: 100%;
    width: 100%;

  }
  
  .botnav a {
    float: left;
    display: block;
    color: #131313;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 7px;
  }
  
  #NavB:hover {
    background-color: #ddd;
    color: rgb(117, 117, 117);
  }
  
  .botnav a.active {
    background-color: #696969;
    color: white;
  }
  
 
  .botnav .icon {
    display: none;
  }

  #BotNavButtons{
    margin-top: 2%;
    margin-bottom: 2%;
    float: right;
    margin-right: 2%;
  }

  footer {
    background-color: rgb(66, 66, 66);
    overflow: hidden;
    margin: 0;
  }
  


  